.card_container {
  margin: 0 auto;
}
.card_list {
  border-bottom: solid 1px white;
  display: flex;
  align-items: flex-end;
  padding: 2px 5px;
  background-color: rgb(53, 53, 113);
  width: 710px;
  position: relative;
}
.card_list p {
  text-transform: capitalize;
  text-align: start;
}
.product_id {
  position: absolute;
  left: -53px;
  color: antiquewhite;
}
.product_name {
  width: 200px;
}
.product_description {
  width: 250px;
}
.product_brand {
  width: 130px;
}
.product_amount {
  width: 80px;
}
.card_list p.product_price {
  text-align: center;
  width: 50px;
}

.card_list span {
  position: absolute;
  right: -20px;
  top: calc(50% - 8px);
  cursor: pointer;
  transition: 0.3s;
  color: red;
}
.card_list span:hover {
  color: brown;
  transform: scale(1.2);
}
