.container {
  padding: 25px;
  margin: 0 auto;
}
.container h2,
.container h1 {
  text-align: center;
}
.container h2 {
  margin-bottom: 10px;
}
.container form {
  margin: 0 auto;
}
.list_buy {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list_buy_tittle {
  position: relative;
  display: flex;
  width: 790px;
  background-color: blueviolet;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid white;
}
.list_buy_tittle span {
  position: absolute;
  right: -25px;
  top: calc(50% - 8px);
  padding: 1px 4px;
  cursor: pointer;
  color: rgb(194, 179, 19);
  transition: 0.3s;
}
.list_buy_tittle span:hover {
  color: hsl(55, 82%, 52%);
  transform: scale(1.1);
}
.list_buy_tittle_product {
  width: 200px;
}
.list_buy_tittle_description {
  width: 250px;
}
.list_buy_tittle_brand {
  width: 130px;
}
.list_buy_tittle_price {
  width: 80px;
}
.list_buy_tittle_amount {
  width: 80px;
}
.list_buy_tittle_total {
  width: 50px;
}
.list_buy_total {
  justify-content: space-between;
}
.fastFind {
  position: absolute;
  left: 10px;
  top: 130px;
  width: 320px;
  border-radius: 10px;
  padding: 10px 5px;
  color: antiquewhite;
  background-color: #444444;
  font-size: 0.9em;
  opacity: 95%;
  transition: 0.3s;
}
.fastFind h3 {
  text-align: center;
}
.fastFind input {
  margin-bottom: 15px;
}
.fastFind_result {
  border-bottom: 1px solid white;
  margin-bottom: 15px;
}
.fastFind_result span {
  color: rgb(241, 255, 87);
  text-transform: capitalize;
}
.open_find {
  position: absolute;
  left: 10px;
  top: 130px;
  background-color: blueviolet;
  font-size: 1.4em;
  padding: 7px 7px 3px;
  border-radius: 50%;
  border: 2px solid white;
  color: rgb(250, 238, 20);
  cursor: pointer;
  transition: 0.4s;
}
.open_find:hover {
  background-color: rgb(92, 13, 170);
}
.close_find {
  position: absolute;
  top: 5px;
  right: 7px;
  cursor: pointer;
  border-radius: 50%;
  background-color: crimson;
  height: 20px;
  width: 20px;
  text-align: center;
  font-weight: bold;
  padding: 2px;
  transition: 0.3s;
}
.close_find:hover {
  color: rgb(255, 255, 255);
  background-color: hsl(348, 83%, 40%);
  transform: scale(1.1);
}
