.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.container label {
  margin-bottom: 0.6em;
  font-weight: bold;
}
.container select {
  padding: 0.5em;
  border-radius: 10px;
  max-width: 500px;
}
